extends layout

block content
  div(ng-app='ngVisApp', ng-controller='appController')
    h1= title
    p Welcome to #{title}
    vis-timeline(data='data',options='options',events='events')

  //script(type='text/javascript' src='/javascripts/timeline.js')
  script(type='text/javascript' src='/javascripts/angular-vis.js')
  script(type='text/javascript' src='/javascripts/app.js')


